@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
#root {
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  color: #151515;
}
a {
  color: #151515;
}
a:hover {
  color: #353535;
}
.ant-layout {
  background-color: #f7f7f7;
  /* background-color: #f5f5fb; */
  height: 100%;
}
